<header class="nav-container">
  <h1 class="heading">Dashboard</h1>
  <nav class="nav">
    <ul>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesaler/all-products' ? 'active' : '' %>"
          href="/wholesaler/all-products/<%= user._id%>"
          >All Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesaler/purchased-products' ? 'active' : '' %>"
          href="/wholesaler/purchased-products/<%= user._id%>"
          >Puchased Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesale/sold-products' ? 'active' : '' %>"
          href="/wholesaler/sold-products/<%= user._id%>"
          >Sold Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="<%= path === '/wholesaler/available-products' ? 'active' : '' %>"
          href="/wholesaler/available-products/<%= user._id%>"
          >Available Products</a
        >
      </li>
    </ul>
  </nav>
  <button class="logout-btn"><a href="/login">Logout</a></button>
</header>
