<%-include("../includes/head.ejs") %>
</head>
<body>
    <main class="dashboard">
        <%-include("../includes/wholesaler-navigation.ejs") %>
        <section class="main">
            <%-include("../includes/role.ejs") %>
            <div class="products-container">
                <h2 class="products-title">Available Products</h2>
                <% if(prods.length > 0){%> 
                <table class="products-table">
                  <tr class="products-heading-container">
                    <th class="product-heading">Batch No.</th>
                    <th class="product-heading">Harvest Date</th>
                    <th class="product-heading">Variety</th>
                    <th class="product-heading">Weight(kg)</th>
                    <th class="product-heading">Price/kg</th>
                  </tr>
                  <% for(let products of prods){%>
                  <tr class="products-info-container">
                    <td class="products-info"><%= products.batchNum %></td>
                    <td class="products-info"><%= products.harvestDate %></td>
                    <td class="products-info"><%= products.variety %></td>
                    <td class="products-info"><%= products.weight %></td>
                    <td class="products-info">GHc <%= products.price %></td>
                    <td class="products-info">
                      <button class="buy-btn" type="submit">Buy</button>
                    </td>
                  </tr>
                  <% }%>
                  <!-- <tr class="products-info-container">
                    <td class="products-info">BA5555</td>
                    <td class="products-info">09-06-2023</td>
                    <td class="products-info">Power Rano</td>
                    <td class="products-info">1000</td>
                    <td class="products-info">GHc300</td>
                    <td class="products-info">
                      <button class="buy-btn" type="submit">Buy</button>
                    </td>
                  </tr>
                  <tr class="products-info-container">
                    <td class="products-info">BA5555</td>
                    <td class="products-info">09-06-2023</td>
                    <td class="products-info">Power Rano</td>
                    <td class="products-info">1000</td>
                    <td class="products-info">GHc300</td>
                    <td class="products-info">
                      <button class="buy-btn" type="submit">Buy</button>
                    </td>
                  </tr> -->
                </table>
                <%}else{%> 
                  <h1>No Products Available For Sale</h1>
                <%}%>
              </div>
        </section>
    </main>
</body>
</html>