<%-include("../includes/head.ejs") %>
</head>
<body>
    <main class="dashboard">
        <%-include("../includes/wholesaler-navigation.ejs", {user: user}) %>
        <section class="main">
            <%-include("../includes/role.ejs",{stakeholder: user}) %>
            <div class="products-container">
                <h2 class="products-title">Available Products</h2>
                <% if(prods.length > 0){%> 
                <table class="products-table">
                  <tr class="products-heading-container">
                    <th class="product-heading">Batch No.</th>
                    <th class="product-heading">Harvest Date</th>
                    <th class="product-heading">Variety</th>
                    <th class="product-heading">Weight(kg)</th>
                    <th class="product-heading">Price/kg</th>
                  </tr>
                  <% for(let product of prods){%>
                  <tr class="products-info-container">
                    <td class="products-info"><%= product.batchNum %></td>
                    <td class="products-info"><%= product.harvestDate.toDateString() %></td>
                    <td class="products-info"><%= product.variety %></td>
                    <td class="products-info"><%= product.weight %></td>
                    <td class="products-info">GHc <%= product.price %></td>
                    <td class="products-info">
                      <form action="/wholesaler/buy-product" method="post">
                        <input type="hidden" value="<%= product.batchNum %>" name="batchNum">
                        <input type="hidden" value="<%=user._id%>" name="userId">
                        <button class="buy-btn" type="submit">Buy</button>
                      </form>
                    </td>
                  </tr>
                  <% }%>
                </table>
                <%}else{%> 
                  <h1>No Products Available To Purchase</h1>
                <%}%>
              </div>
        </section>
    </main>
</body>
</html>