<%-include("../includes/head.ejs") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/add-product.css">
  </head>
  <body>
    <main class="dashboard">
      <%-include("../includes/farmer-navigation.ejs", {user: user}) %>
      <section class="main">
        <%-include("../includes/role.ejs", {stakeholder: user}) %>
        <div class="products-container">
          <h2 class="products-title">All Products</h2>
          <div id="add-product-container" class="add-product-container">
            <div class="close-button-container">
              <i onclick="closeAddProduct()" id="close-button" class="fa-solid fa-xmark"></i>
            </div>
            <form action='/farmer/add-product' method="post">
              <div class="input-lable-container">
                <label for="batchNum">
                  Batch No.
                  <br>
                  <input type="number" name="batchNum" id="batchNum" required>
                </label>
              </div>
              <div class="input-lable-container">
                <label for="variety">
                  Variety
                  <br>
                  <input type="text" name="variety" id="variety" required>
                </label>
              </div>
              <div class="input-lable-container">
                <label for="weight">
                  Weight (kg)
                  <br>
                  <input type="number" name="weight" id="weight" required>
                </label>
              </div>
              <div class="input-lable-container">
                <label for="price">
                  Price / kg
                  <br>
                  <input type="number" name="price" id="price" required>
                </label>
              </div>
              <div class="input-lable-container">
                <label for="harvestDate">
                  Harvest Date
                  <br>
                  <input type="date" name="harvestDate" id="harvestDate" required>
                </label>
              </div>
              <div class="input-lable-container">
                <label for="fertilizer">
                  Type Of Fertilizer Used
                  <br>
                  <select name="fertilizer" id="fertilizer">
                    <option value="">Select Type Of Fertilizer</option>
                    <option value="Organic Fertilizer">Organic Fertilizer</option>
                    <option value="Chemical Fertilizer">Chemical Fertilizer</option>
                  </select>
                </label><br>
                <label id="npkRatio" for="NPK">NPK Ratio:
                  <br>
                  <input class="npk" type="number" name="n" id="n" placeholder="N">
                  <input class="npk" type="number" name="p" id="p" placeholder="P">
                  <input class="npk" type="number" name="k" id="k" placeholder="K">
                </label>
              </div>
              <button class="add-product-btn" type="submit">Add Product</button>
            </form>
          </div>
          <% if(prods.length > 0) {%>   
          <table class="products-table">
            <tr class="products-heading-container">
              <th class="product-heading">Batch No.</th>
              <th class="product-heading">Harvest Date</th>
              <th class="product-heading">Variety</th>
              <th class="product-heading">Weight(kg)</th>
              <th class="product-heading">Price/kg</th>
            </tr>
            <% for(let product of prods){%> 
            <tr class="products-info-container">
              <td class="products-info"><%= product.batchNum %></td>
              <td class="products-info"><%= product.harvestDate.toDateString() %></td>
              <td class="products-info"><%= product.variety %></td>
              <td class="products-info"><%= product.weight %></td>
              <td class="products-info">GHc <%= product.price %></td>
              <td class="products-info">
                <form action="/farmer/delete-product" method="post">
                  <input type="hidden" value="<%= product._id %>" name="productId">
                  <button class="del-btn" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }%>
          </table>
          <%} else{ %>
        </div>
          <h1>NO PRODUCTS</h1>
          <% }%>
      </section>
    </main>
    <script>
      $('#fertilizer').change(function(){
        if($('#fertilizer').val() === "Chemical Fertilizer"){
          $('#npkRatio').show()
        }
        else{
          $('#npkRatio').hide()
        }
      })
    </script>
  </body>
<%-include("../includes/end.ejs")%>
