<%-include("../includes/head.ejs") %>
<script src="/js/main.js"></script>
<link rel="stylesheet" href="/css/add-product.css">
  </head>
  <body>
    <main class="dashboard">
      <%-include("../includes/farmer-navigation.ejs", {user: user}) %>
      <section class="main">
        <%-include("../includes/role.ejs", {stakeholder: user}) %>
        <div class="products-container">
          <h2 class="products-title">All Products</h2>
          <div id="add-product-container" class="add-product-container">
            <div class="close-button-container">
              <i onclick="closeAddProduct()" id="close-button" class="fa-solid fa-xmark"></i>
            </div>
            <form action='/farmer/add-product' method="post">
              <div class="input-lable-container">
                <label for="batchNum">
                  Batch No.
                  <br>
                  <input type="number" name="batchNum" id="batchNum">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="variety">
                  Variety
                  <br>
                  <input type="text" name="variety" id="variety">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="weight">
                  Weight (kg)
                  <br>
                  <input type="number" name="weight" id="weight">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="price">
                  Price / kg
                  <br>
                  <input type="number" name="price" id="price">
                </label>
              </div>
              <div class="input-lable-container">
                <label for="Harvest-date">
                  Harvest Date
                  <br>
                  <input type="date" name="harvestDate" id="harvestDate">
                </label>
              </div>
              <button class="add-product-btn" type="submit">Add Product</button>
            </form>
          </div>
          <% if(prods.length > 0) {%>   
          <table class="products-table">
            <tr class="products-heading-container">
              <th class="product-heading">Batch No.</th>
              <th class="product-heading">Harvest Date</th>
              <th class="product-heading">Variety</th>
              <th class="product-heading">Weight(kg)</th>
              <th class="product-heading">Price/kg</th>
            </tr>
            <% for(let product of prods){%> 
            <tr class="products-info-container">
              <td class="products-info"><%= product.batchNum %></td>
              <td class="products-info"><%= product.harvestDate.toDateString() %></td>
              <td class="products-info"><%= product.variety %></td>
              <td class="products-info"><%= product.weight %></td>
              <td class="products-info">GHc <%= product.price %></td>
              <td class="products-info">
                <form action="/farmer/delete-product" method="post">
                  <input type="hidden" value="<%= product._id %>" name="productId">
                  <button class="del-btn" type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }%>
          </table>
          <%} else{ %>
        </div>
          <h1>NO PRODUCTS</h1>
          <% }%>
      </section>
    </main>
  </body>
<%-include("../includes/end.ejs")%>
